body {
    font-family: 'Arial', sans-serif;
    margin: 10;
    padding: 0;
    max-width: 100%;
    background-color: rgb(220, 246, 242);
}

h1 {
    color: rgb(92, 52, 140);
    font-size: 50px;
    text-align: center;
    background-color: rgb(220, 246, 242);
    margin: 0;
    padding: 20px; /* Ajusta este valor según sea necesario para mantener el espacio */
    position: sticky;
    top: 0;
    z-index: 2;
}

table {
    width: 100%;
    border-collapse: dashed;
    margin-top: 20px;
    overflow: auto; /* Agregado para permitir el scroll */
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #3498db;
    color: white;
}

/* Estilo para hover sobre las filas */
tr:hover {
    background-color: #f5f5f5;
}

/* Estilos para las filas pares e impares */
tr:nth-child(even) {
    background-color: #e6e6e6;
}

.email-cell {
    font-family: 'Arial', sans-serif;
    color: transparent;
    text-shadow: 0 0 5px #000;
}

tr:nth-child(odd) {
    background-color: #fff;
}
