/* ******** HEADER ******** */
.navbar-brand img {
    max-width: 100px;
 }

.bg-dark {
    background: #333a40!important;
 }

.navbar-dark .navbar-nav .btn-compra-tickets {
    color: #25a342;
 }

.btn-log-reg{
    color: yellow!important;
 }

/* ******* MEDIA QUERY ****** */
@media (min-width: 992px) {
    .btn-compra-tickets, .btn-log-reg {
        border: 1px solid transparent;
        border-radius: .5rem;
    }

    .btn-compra-tickets:hover,
    .navbar-dark .navbar-nav .btn-compra-tickets.active {
        background: #25a342;
    }

    .btn-log-reg:hover {
        background: yellow;
        color: black!important;
    }
}

.pt-section {
    padding-top: 7rem;
 }

/* ******* TITULOS ******* */
.titulo-gral {
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1rem;
}

.titulo-gral span {
    display: block;
    font-weight: 700;
    font-size: 2.2rem;
}

/* sino responde como hasta ahora 08/12/2023 el max-hight, sacarlo */
#myCarousel {
    max-width: 100%;
    max-height: 100%;
}

/* ********** EL FAMOSO CAROUSEL ********* */
.bg-carousel-ba1 { background-image: url(../img/ba1-min.jpg); }
.bg-carousel-ba2 { background-image: url(../img/ba2-min.jpg); }
.bg-carousel-ba3 { background-image: url(../img/ba3-min.jpg); }

.carousel-item {
    background-size: cover;
    background-position: center center;
}
.carousel-item svg {
    opacity: 0.5;
 }

.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

.carousel-item {
    height: 37rem;
    min-height: 95vh;
}

/* ******************************************************************* */
/* Estilos para la sección de "Otros links" */
.otros-links {
    text-align: center;
    background-color: white;
    padding: 20px; /* Añade relleno para mayor claridad */
    margin-bottom: 26px;
}

/* Estilos para el título "Otros links" */
.otros-links h2 {
    margin: 30px 0px;
    color: rgb(28, 13, 37); /* Color del texto del título */
}

/* Estilos para cada enlace */
.otros-links a {
    display: block;
    padding: 10px;
    border: 1px dashed grey;
    text-decoration: none; /* Elimina el subrayado predeterminado de los enlaces */
    color: blue; /* Color del texto */
    background-color: rgb(178, 193, 193);
    cursor: pointer;
    border-radius: 20px;
}

/* Agrega estilos para hacer las columnas más angostas */
.custom-narrow-col {
    flex: 0 0 20%;
}

/* Estilos para el hover de los enlaces */
.otros-links a:hover {
    background-color: lightskyblue;
}


/* ******************************************** */
/* ****** SECCION MITAD IMG, MITAD TEXTO ****** */
.bg-aside1 {
    background: #333a40;
    padding: 2rem;
}

/* ******* FORMULARIO CONVIERTETE EN ORADOR ********** */
.btn-form {
    background: #96c93e;
    color: #fff !important;
}
.btn-form:hover {
    background: #74aa17;
}

#exampleFormControlTextarea1 {
    min-height: 200px;
    max-height: 200px;
}

/* ***** Mensaje de que se grabo correcto el formulario oradores ****** */
.orador-exitoso {
    text-align: right;
    color: blue;
    font-size: 1.5rem;
}


/* *********** FOOTER ********** */
#main-footer {
    background: #1d3c4e;
    color: #fff;
    padding: 0.4rem;
}

#main-footer .nav-link {
    color: #fff;
    text-align: center;
}
#main-footer .nav-link:hover {
    opacity: .7;
}

/* *** COPYING *** */
#main-footer .copying {
    background-color: #1d3c4e;
    color: #ebebac;
    text-align: center;
    padding: 4px 0;
    margin: 0px;
}

#main-footer .copying:hover {
    background-color: #1d3c4e;
    color: #ebebac;
}


/* ******* MEDIAS QUERY ******** */
@media (min-width: 992px) {
    #main-footer .nav-link span {
        display: block;
    }
}